* {
   box-sizing: border-box;
}

body {
   margin: 0;
   padding: 0;
   font-family: 'Raleway', sans-serif;
}

a {
   color: inherit;
   text-decoration: none;
}

ul {
   list-style: none;
   padding: 0;
}

figure {
   margin: 0;
   padding: 0;
}

.wrapper {
   max-width: 1040px;
   width: 100%;
   margin: 0 auto;
}

:root {
   --background: hsl(218, 28%, 13%);
   --blue-color: hsl(176, 68%, 64%);
   --background-light: hsl(217, 28%, 15%);
}

/* Navbar */
nav {
   margin : 0;
   padding: 1rem;
   color: white;
   background-color: var(--background-light);
}

.nav-grid {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

nav figure img {
   width: 120px;
   cursor: pointer;
}

nav ul {
   display: flex;
}

nav ul li {
   margin-left: 1rem;
}


/* Hero */
section.hero {
   min-height: calc(100vh - 83px);
   padding: 3rem;
   color: white;
   width: 100%;
   background-color: var(--background-light);
   background-image: url("../assets/bg-curvy-mobile.svg");
   background-repeat: no-repeat;
   background-position: center bottom;
   background-size: contain;
}

.hero-grid {
   width: 100%;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   max-width: 768px;
}

.hero figure img{
   width: 100%;
}

.hero h1 {
   text-align: center;
   letter-spacing: 5px;
   font-size: 2rem;
   line-height: 3rem;
}

.hero h3{
   text-align: center;
   font-weight: 400;
   line-height: 2rem;
}

.hero button {
   display: block;
   margin: 1rem auto;
   padding: 1rem 5rem;
   border-radius: 30px;
   background: rgb(101,226,217);
   background: linear-gradient(90deg, rgba(101,226,217,1) 35%, rgba(51,158,204,1) 100%);
   color: white;
   font-weight: 700;
   border: none;
   cursor: pointer;
   font-size: 1.3rem;
}

.articles {
   padding: 3rem;
   text-align: center;
   background-color: var(--background);
   color: white;
}

.articles-grid {
   display: grid;
   justify-content: center;
   grid-template-columns: repeat(auto-fill, 450px);
   column-gap: 100px;
}

.articles h4 {
   font-size: 2rem;
}

.articles article {
   margin-bottom: 10rem;
}
.articles article figure img {
   width: 100px;
}


.stayfocus {
   padding: 3rem;
   color: white;
   background-color: var(--background);
}

.stayfocus-grid {
   display: grid;
   justify-items: center;
   grid-template-columns: 1fr 1fr;
   column-gap: 2rem;
}

.stayfocus figure img {
   width: 100%;
   max-width: 768px;
   display: inline-block;
}

.stayfocus h3 {
   font-size: 2rem;
}

.stayfocus p {
   line-height: 2rem;
   font-size: 1.5rem;
}

.stayfocus a {
   display: flex;
   align-items: center;
   color: var(--blue-color);
   font-size: 1.3rem;
   position: relative;
}


.stayfocus a img {
   width: 30px;
   margin-left: 10px;
}

.stayfocus a::before{
   content: "";
   border-bottom: 2px solid var(--blue-color);
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   width: 50%;
   margin-bottom: -10px;
}

.opinions {
   color: white;
   padding: 3rem;
   background-color: var(--background);
}

.opinions article {
   padding: 2rem;
   background-color: var(--background-light);
   margin-bottom: 2rem;
   border-radius: 5px;
}

.opinions p {
   line-height: 2rem;
}

.opinions .user {
   display: flex;
   align-items: center;
   line-height: 1rem;
}

.opinions figure img {
   width: 60px;
   border-radius: 50%;
}


@media screen and (max-width: 1080px){
   .stayfocus-grid {
      grid-template-columns: 1fr;
   }
}